    - name: Initialize vairables
      ansible.builtin.set_fact:
        f5_cert_to_update: []
        f5_client_profile_to_update: []
        f5_server_profile_to_update: []
        f5_client_profile_to_copy_in_server: []
        f5_server_profile_to_copy_in_server: []
        f5_profile_virtual_server_tobe_updated_with_profile_client: []
        f5_profile_virtual_server_tobe_updated_with_profile_server:  [] 

    - name: Check F5 VIP and Profiles to be updated
      ansible.builtin.include_tasks: sub-tasks/03-check-f5-vip-to-be-update.yml
      vars:
        f5_hostname_to_check: "{{ f5_hostname_to_check_list_item }}"      
      loop: "{{ f5_hostname_to_check_list.names }}"
      loop_control:
        loop_var: f5_hostname_to_check_list_item
      register: f5_looped_hostname_to_check