---
- name: F5 Email notification
  hosts: localhost
  connection: local
  gather_facts: true
  vars:
  - f5_email_table_style: "style='border: 1px solid;'"
  tasks:
  - name: setup variable with successful and failed list
    ansible.builtin.set_fact:
      f5_email_object: "{{ f5_email_object |default([])  + [ {'ansible_job_id': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.uploaded_cert.ansible_job_id, 'f5_virtual_server_full_path': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.virtual_server, 'f5_device_name': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.device_name, 'f5_vip': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.virtual_server_address, 'f5_current_client_cert': { 'cert_fullpath_in_f5': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.client_cert.full_path , 'expiration_date': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.client_cert.expiration_date, 'dns_names': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.client_cert.subject_alternative_name | replace('DNS:','')  }, 'f5_current_server_cert': { 'cert_fullpath_in_f5': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.server_cert.full_path , 'expiration_date': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.server_cert.expiration_date, 'dns_names': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.server_cert.subject_alternative_name |replace('DNS:','')   } , 'uploaded_cert': { 'filename': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.uploaded_cert.filename, 'expiration_date': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.uploaded_cert.expiration_date, 'dns_names': f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item.uploaded_cert.names| join(',') } } ] }}"
    run_once: true
    delegate_to: localhost
    loop: "{{  f5_profile_virtual_server_tobe_updated_with_profile_all_certs }}"
    loop_control:
        loop_var: f5_profile_virtual_server_tobe_updated_with_profile_all_certs_item
  
  - name: Print out email_object
    ansible.builtin.debug:
      msg: "{{ lookup('ansible.builtin.template', 'templates/email.j2' ) }}"
    delegate_to: localhost

  - name: Send email for result
    community.general.mail:
      host: smtp.pccw.com
      port: 25
      from: osp-alertmgr@pccw.com
      to: 
      - "gary.wl.lai@pccw.com"
      subject: "[Ansible] [F5-Renew-Cert] [CR-{{ '%010d' | format(f5_email_object[0].ansible_job_id) }}-001] Domain Renewal Information [Expiry Date: {{ f5_email_object[0].f5_current_client_cert.expiration_date }} ]"
      body: "{{ lookup('ansible.builtin.template', 'templates/email.j2' ) }}"
      subtype: "html"
    run_once: true
    delegate_to: localhost    