---
# 1. Setup Provider ONCE
- name: Setup provider
  ansible.builtin.set_fact:
    provider:
      server: "{{ f5_ansible_host }}"
      user: "{{ f5_ui_username }}"
      password: "{{ f5_ui_password }}"
      server_port: "443"
      no_f5_teem: "false"
      validate_certs: false
  no_log: True

# 2. Check Failover ONCE
- name: Get BIG-IP failover status
  f5networks.f5_modules.bigip_command:
    provider: "{{ provider }}"
    commands:
      - "tmsh show sys failover"
  delegate_to: localhost
  register: f5_failoverStatus

# 3. Get Hostname ONCE
- name: Run TMSH get hostname
  f5networks.f5_modules.bigip_command:
    commands: 'tmsh list /sys global-settings hostname |grep hostname'
    provider: "{{ provider }}"
  register: f5_hostname_result
  delegate_to: localhost
  when: "'active' in f5_failoverStatus['stdout'][0]"

# 4. Get Date ONCE
- name: Get local year in string
  ansible.builtin.shell: "date +%Y"
  register: f5_current_year_in_string_command
  delegate_to: localhost

- name: Set local year in string
  ansible.builtin.set_fact: 
    f5_current_year_in_string: "{{ f5_current_year_in_string_command.stdout }}"

# 5. GATHER FACTS ONCE (The heavy part)
- name: Gather F5 Facts
  f5networks.f5_modules.bigip_device_info:
    gather_subset: 
      - ssl-certs
      - client-ssl-profiles
      - server-ssl-profiles
      - virtual-servers
      - irules
    provider: "{{ provider }}"
  register: bigip_facts_result
  delegate_to: localhost
  when: "'active' in f5_failoverStatus['stdout'][0]"

# 6. Save facts to file (Optional, moved from inner loop)
- name: write result to local
  ansible.builtin.copy:
    content: "{{ bigip_facts_result }}"
    dest: "/tmp/bigip_facts_result_{{ inventory_hostname }}.json" 
  when: "'active' in f5_failoverStatus['stdout'][0]"
  delegate_to: localhost

# 7. Start the Loops (Now they use the cached facts)
- name: "Check F5 VIP and Profiles to be updated for {{ f5_ansible_host }}"
  ansible.builtin.include_tasks: sub-tasks/03-check-f5-vip-extra-dnsnames.yml
  vars:
    f5_hostname_to_check_list: "{{ f5_cert_name_list_item }}"
  loop: "{{ f5_cert_name_list }}"
  loop_control:
    loop_var: f5_cert_name_list_item
  when: 
    - f5_has_file_to_be_processed
    - "'active' in f5_failoverStatus['stdout'][0]"